[submodule ".dotbot"]
	path = .dotbot
	url = git@github.com:anishathalye/dotbot.git
[submodule "fzf-git.sh"]
	path = fzf-git.sh
	url = ./fzf-git.sh
[submodule "nvim"]
	path = nvim
	url = git@github.com:pbouamriou/nvim-lua-config.git
